---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Nosotros"
	description=“Un sueño que nació con una propiedad y crece con cada historia que ayudamos a construir.”
	pubDate={new Date('2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Todo comienza con un primer paso. Para nosotros, fue una propiedad en Quetzaltenango, que no solo representó una venta, sino el inicio 
de un sueño. A partir de ese momento, nació Abraham Inmuebles, impulsado por el deseo de transformar la manera en que las personas encuentran 
su próximo hogar, inversión o espacio ideal.
	</p>

	<p>
		Cada reto y cambio en el camino nos ha formado, dándonos una visión clara y un enfoque 
vanguardista en la promoción, localización y desarrollo de propiedades. 
Esta página web es el reflejo de ese compromiso: conectar a las personas con lugares que realmente se sientan suyos.
	</p>

	<p>
		Nos estamos expandiendo por distintos puntos del país, con énfasis en tres departamentos clave, 
pero con la puerta siempre abierta a los 22 departamentos de la República. Porque entendemos que cada cliente tiene una necesidad distinta, 
y nuestra misión es simple: 
eliminar la búsqueda desgastante y reemplazarla con una experiencia confiable, cercana y efectiva.
	</p>

	<p>
Solo tienes que decirnos qué buscas… y nosotros nos encargamos de encontrarlo.
	</p>

</Layout>
