---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title= AbrahamInmuebles description={SITE_DESCRIPTION} />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZM3XRM6KBH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZM3XRM6KBH');
</script>
	</head>
	<body>
		<Header />
		<main>

<section style="
  background-color: #82A899;
  color: white;
  padding: 2rem 1.5rem;
  margin: 0;
">

			<h1 style="margin-top: 0;">🏛️ Hola, Explorador de Inmuebles!</h1>
			<p>
				Bienvenido a nuestro sitio oficial de inmuebles en Guatemala 🇬🇹 En <a href="https://www.instagram.com/abraham_alvarado15" target="_blank" rel="noopener noreferrer">
  Abraham Inmuebles
</a>, encontramos la propiedad ideal para usted. Si no la ve, la conseguimos. Nos adaptamos a su presupuesto y necesidades, asegurando la mejor opción. Promovemos inmuebles en todo el país, con un enfoque especial en la Ciudad Capital, Sacatepéquez y Huehuetenango.

			¡No dude en contactarnos!
Tenemos lo que necesita. <a href="https://wa.me/50236034476" target="_blank" rel="noopener noreferrer">
  WhatsApp
</a>
</p>
</section>

<img src="/P_oficina1.png" alt="Oficina en renta">
<p> En el corazón de la ciudad se ubica estratégicamente esta oficina para captar la atención de su clientela. Cada uno estará encantado con la ubicación y la elegancia de una oficina moderna.
	•	Cuenta con parqueo
	•	Sanitario
	•	Un espacio bien diseñado de 35 m²
	•	Terraza lounge
	•	Salón business
	•	Cafetería
	•	Recepción
	•	A 10 minutos de Oakland Place
</p>
<img src="/IMG_8844.jpeg" alt="Huehuetenango, cambote" width="500">
			<p>
				📍Huehuetenango, Cambote, Z11
			</p>
<p>¡Apartamento Moderno y Nuevo con amplio espacio! Ubicado a tan solo 5 minutos del CC Pradera,en
un sector privado con muro perimetral.
</p>
<p>• 3 Habitaciones • 1 Baño • Sala • Comedor • Desayunador • Cocina •Espacio propio de lavanderia
• Parqueo privado • Pozo propio • Área común de pilas 
</p>
			<p>¿Tienes alguna duda?, <a href="https://wa.me/50236034476" target="_blank" rel="noopener noreferrer">
  Contactanos
</a> </p>
			<ul>
				<li>ENCUENTRANOS EN INSTAGRAM <code>AbrahamInmueblesGT</code></li>
				<li>BUSCAS PROMOVER TU PROPIEDAD <a href="https://wa.me/50236034476" target="_blank" rel="noopener noreferrer">
  Whatsapp</li>
</a>
				<li>ANTIGUA GUATEMALA, HUEHUETENANGO, CIUDAD CAPITAL</li>
				<li>PREGUNTA POR LA PROPIEDAD QUE ESTAS BUSCANDO </li>
			</ul>
			<p>
				¡Somos la opción número uno para buscar y ofrecer la propiedad que deseas! Si lo quieres lo obtienes, nos mantenemos a la vanguardia dentro del mercado inmobiliario, déjalo en manos de expertos.<a href="https://instagram.com/abrahaminmueblesgt"
					>Mira nuestro trabajo
				</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
